---
import Layout from '../layouts/Layout.astro';
import History from '../components/History.astro';
import PageHeader from '../components/PageHeader.astro';
import { urlFor, getTeamMembers, getPage } from '../lib/sanity';

const committee = await getTeamMembers('committee');
const page = await getPage('about');
---

<Layout
  title={page?.seo?.metaTitle ?? 'About // Sitwell Cycling Club'}
  description={page?.seo?.metaDescription ?? "Rotherham's award-winning Go-Ride club."}
>
  <PageHeader page={page} title="Sitwell Cycling Club" subtitle="Rotherham's award-winning Go-Ride club.">
    <p class="lg:w-3/4">Offering nine social rides a week, Go-Ride coaching sessions for under 16s, monthly socials and overseas trips. Some of us race, but most of us are just here for the coffee and the cake. We ride on road and off-road. There&apos;s something for everyone, so <a href="/contact">contact us</a> now to see what you&apos;re missing.</p>
  </PageHeader>
  <section class="rides w-full px-5 lg:px-10 mb-20 grid md:gap-5 md:grid-cols-2">
    <section>
      <section>
        <h2 class="text-3xl font-ropa">Committee</h2>
        <p class="mb-2">The Club is managed by a Committee. The Committee is responsible for the Club, its funds, property and affairs.</p>
        <p class="mb-5">The Committee is made up of four elected positions and co-opted Officers. Votes - if necessary - take place at each AGM to elect the Committee.</p>
        <h3 class="text-2xl font-ropa">Meetings</h3>
        <p class="mb-5">Committee meetings are held at The Sitwell Arms, usually on the first Monday of the month, unless it&apos;s a Bank Holiday. Club members are more than welcome to attend to discuss any issues they have.</p>
        <h3 class="text-2xl font-ropa mb-1">Members</h3>
      </section>
      <section class="grid grid-cols-2 lg:grid-cols-3 gap-5 mb-5">
        {committee.map((member) => (
          <article class="relative pb-8">
            <img
              class="block w-full mb-2.5"
              src={member.photo ? urlFor(member.photo).width(285).height(285).url() : '/img/coaching/placeholder.webp'}
              alt={`A portrait photograph of ${member.name}`}
              width="285"
              height="285"
            />
            <h3 class="text-xl font-ropa">{member.name}</h3>
            <h3 class="text-base font-ropa block uppercase opacity-50 mb-2.5">{member.membership.title}</h3>
            {member.membership.email && (
              <a href={`mailto:${member.membership.email}`} class="btn absolute left-0 bottom-0">Contact {member.name.split(' ')[0]}</a>
            )}
          </article>
        ))}
      </section>
    </section>
    <History />
  </section>
</Layout>
